<form [formGroup]="form" novalidate  (ngSubmit)="login()">
  <div class="w-full mt-20 mr-0 mb-0 ml-0 relative z-10 max-w-2xl">
    <div class="flex flex-col items-start justify-start pt-10 pr-10 pb-10 pl-10 bg-white shadow-2xl rounded-xl
        relative z-10">
      <p class="w-full text-4xl font-medium text-center leading-snug font-serif">Sign up for an account</p>
      <div class="w-full mt-6 mr-0 mb-0 ml-0 relative space-y-8">
        <!-- Email -->
        <div class="relative">
          <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600 absolute">Email</p>
          <input
            placeholder="123@ex.com"
            formControlName="email"
            placeholder="Enter email"
            type="email"
            class="border placeholder-gray-400 focus:outline-none
              focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white
              border-gray-300 rounded-md"/>

          <!-- Error Email -->
          <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
            <p *ngIf="form.controls.email.hasError('required')"
              class="font-medium text-red-500 text-xs mt-1 ml-1">
                This field is mandatory
            </p>
            <p *ngIf="form.controls.email.hasError('email')"
              class="font-medium text-red-500 text-xs mt-1 ml-1">
                This field should be a email
            </p>
          </div>
        </div>


        <!-- Password -->
        <div class="relative">
          <p class="bg-white pt-0 pr-2 pb-0 pl-2 -mt-3 mr-0 mb-0 ml-2 font-medium text-gray-600
              absolute">Password</p>
          <button type="button" class="p-4 absolute right-2" (click)="showPassword = !showPassword">
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
          <input
            formControlName="password"
            placeholder="Enter password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            class="border placeholder-gray-400 focus:outline-none
              focus:border-black w-full pt-4 pr-4 pb-4 pl-4 mt-2 mr-0 mb-0 ml-0 text-base block bg-white
              border-gray-300 rounded-md"/>
          <!-- Error Password -->
          <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
            <p *ngIf="form.controls.password.hasError('required')"
              class="font-medium text-red-500 text-xs mt-1 ml-1">
                This field is mandatory
            </p>
            <p *ngIf="form.controls.password.hasError('minlength')"
              class="font-medium text-red-500 text-xs mt-1 ml-1">
                This field should be greater than 6 characters
            </p>
          </div>
        </div>

        <!-- Btn login -->
        <div class="relative">
          <button
            class="w-full inline-block pt-4 pr-5 pb-4 pl-5 text-xl font-medium text-center text-white bg-indigo-500
              rounded-lg transition duration-200 hover:bg-indigo-600 ease"
            [disabled]="disabled || loading">
              Submit
              <fa-icon
              *ngIf="loading"
              [icon]="faSpinner"
              [pulse]="true"
          ></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
